LogicApp_Template/loop-collect/workflow.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "triggers": {
            "ordersTrigger": {
                "type": "Request",
                "description": "Accepts an array of orders and returns the matching bank account details from Blue Bank.",
                "kind": "Http",
                "inputs": {
                    "method": "POST",
                    "schema": {
                        "type": "array",
                        "minItems": 1,
                        "items": {
                            "type": "object",
                            "required": [
                                "orderId",
                                "accountId"
                            ],
                            "properties": {
                                "orderId": { "type": "string" },
                                "accountId": { "type": "string" }
                            }
                        }
                    }
                }
            }
        },
        "actions": {
            "Lookup_Each_Order_Account": {
                "type": "Foreach",
                "description": "For each order, call Blue Bank to retrieve the account details.",
                "foreach": "@triggerBody()",
                "actions": {
                    "Business_Logic": {
                        "type": "Scope",
                        "actions": {
                            "Get_Bank_Account": {
                                "type": "Http",
                                "inputs": {
                                    "uri": "@appsetting('BlueBank_BaseUrl')",
                                    "method": "GET",
                                    "headers": {
                                        "Ocp-Apim-Subscription-Key": "@{appsetting('BlueBank_SubscriptionKey')}"
                                    },
                                    "retryPolicy": {
                                        "type": "none"
                                    }
                                }
                            },
                            "Capture_Lookup_Result": {
                                "type": "Compose",
                                "inputs": {
                                    "status": "Succeeded",
                                    "orderId": "@item()?['orderId']",
                                    "accountId": "@item()?['accountId']",
                                    "account": "@body('Get_Bank_Account')"
                                },
                                "runAfter": {
                                    "Get_Bank_Account": [ "SUCCEEDED" ]
                                }
                            }
                        }
                    },
                    "Exception_Handler": {
                        "type": "Scope",
                        "actions": {
                            "Capture_Lookup_Failure": {
                                "type": "Compose",
                                "inputs": {
                                    "status": "Failed",
                                    "orderId": "@item()?['orderId']",
                                    "accountId": "@item()?['accountId']",
                                    "statusCode": "@outputs('Get_Bank_Account')?['statusCode']",
                                    "error": "@coalesce(body('Get_Bank_Account'), outputs('Get_Bank_Account')?['body'], 'Blue Bank account lookup failed')"
                                }
                            }
                        },
                        "runAfter": {
                            "Business_Logic": [ "FAILED", "TIMEDOUT", "SKIPPED" ]
                        }
                    }
                },
                "runAfter": {},
                "runtimeConfiguration": {
                    "concurrency": {
                        "repetitions": 50
                    }
                }
            },
            "Filter_Successes": {
                "type": "Query",
                "description": "Keep only iterations where the success Compose actually ran.",
                "inputs": {
                    "from": "@actions('Capture_Lookup_Result').outputs",
                    "where": "@equals(item()['status'], 'Succeeded')"
                },
                "runAfter": {
                    "Lookup_Each_Order_Account": [ "SUCCEEDED" ]
                }
            },
            "Filter_Failures": {
                "type": "Query",
                "description": "Keep only iterations where the failure Compose actually ran.",
                "inputs": {
                    "from": "@actions('Capture_Lookup_Failure').outputs",
                    "where": "@equals(item()['status'], 'Succeeded')"
                },
                "runAfter": {
                    "Lookup_Each_Order_Account": [ "SUCCEEDED" ]
                }
            },
            "Project_Combined_Results": {
                "type": "Select",
                "description": "Concatenate success and failure iteration wrappers, then strip down to the inner Compose outputs (the business payload).",
                "inputs": {
                    "from": "@union(body('Filter_Successes'), body('Filter_Failures'))",
                    "select": "@item()['outputs']"
                },
                "runAfter": {
                    "Filter_Successes": [ "SUCCEEDED" ],
                    "Filter_Failures": [ "SUCCEEDED" ]
                }
            },
            "Return_Account_Details": {
                "type": "Response",
                "kind": "Http",
                "inputs": {
                    "statusCode": 200,
                    "headers": {
                        "Content-Type": "application/json"
                    },
                    "body": {
                        "totalCount": "@length(body('Project_Combined_Results'))",
                        "success": "@equals(length(body('Filter_Failures')), 0)",
                        "accounts": "@body('Project_Combined_Results')"
                    }
                },
                "runAfter": {
                    "Project_Combined_Results": [ "SUCCEEDED" ]
                }
            }
        },
        "contentVersion": "1.0.0.0",
        "outputs": {}
    },
    "kind": "Stateful"
}
