LogicApp_Template/exception-handler/workflow.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "contentVersion": "1.0.0.0",
        "actions": {
            "Business_Logic": {
                "type": "Scope",
                "actions": {
                    "Process_Request": {
                        "type": "Compose",
                        "inputs": "@triggerBody()"
                    },
                    "Call_External_Service": {
                        "type": "Http",
                        "inputs": {
                            "uri": "@appsetting('externalServiceUrl')",
                            "method": "POST",
                            "headers": {
                                "Content-Type": "application/json"
                            },
                            "body": "@outputs('Process_Request')"
                        },
                        "runAfter": {
                            "Process_Request": [
                                "SUCCEEDED"
                            ]
                        },
                        "runtimeConfiguration": {
                            "contentTransfer": {
                                "transferMode": "Chunked"
                            }
                        }
                    }
                },
                "runAfter": {},
                "description": "Scope containing main business logic. Wrap your actions here to enable exception handling."
            },
            "Catch_Exceptions": {
                "type": "Scope",
                "actions": {
                    "Filter_Errors": {
                        "type": "Query",
                        "inputs": {
                            "from": "@result('Business_Logic')",
                            "where": "@equals(item()?.status,'Failed')"
                        }
                    },
                    "Error_Response": {
                        "type": "Compose",
                        "inputs": {
                            "code": "@coalesce(body('Filter_Errors')[0]?.error?.code, body('Filter_Errors')[0]?.outputs?.body?.code, 'UnknownError')",
                            "message": "@coalesce(body('Filter_Errors')[0]?.error?.message, body('Filter_Errors')[0]?.outputs?.body?.message, 'An unexpected error occurred')"
                        },
                        "runAfter": {
                            "Filter_Errors": [
                                "SUCCEEDED"
                            ]
                        }
                    },
                    "Terminate_Workflow": {
                        "type": "Terminate",
                        "inputs": {
                            "runStatus": "Failed",
                            "runError": {
                                "code": "@outputs('Error_Response')?.code",
                                "message": "@outputs('Error_Response')?.message"
                            }
                        },
                        "runAfter": {
                            "Error_Response": [
                                "SUCCEEDED"
                            ]
                        }
                    }
                },
                "runAfter": {
                    "Business_Logic": [
                        "FAILED"
                    ]
                },
                "description": "Exception handler scope - runs only when Business_Logic fails. Filters errors, extracts details, and terminates with error info."
            },
            "Return_Success": {
                "type": "Response",
                "kind": "Http",
                "inputs": {
                    "statusCode": 200,
                    "headers": {
                        "Content-Type": "application/json"
                    },
                    "body": "@body('Call_External_Service')"
                },
                "runAfter": {
                    "Business_Logic": [
                        "SUCCEEDED"
                    ]
                }
            }
        },
        "outputs": {},
        "triggers": {
            "When_a_HTTP_request_is_received": {
                "type": "Request",
                "kind": "Http",
                "description": "Exception Handler pattern - wraps business logic in a scope with a catch handler for centralized error handling."
            }
        }
    },
    "kind": "Stateful"
}
