LogicApp_Template/foreach-collect/workflow.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "contentVersion": "1.0.0.0",
        "triggers": {
            "When_a_HTTP_request_is_received": {
                "type": "Request",
                "kind": "Http",
                "description": "POST /orders/stock-check -- batch stock-availability check. Body is an array of order lines. Schema is validated by the trigger -- do NOT add a downstream ParseJson over @triggerBody().",
                "inputs": {
                    "method": "POST",
                    "schema": {
                        "type": "array",
                        "minItems": 1,
                        "items": {
                            "type": "object",
                            "required": [ "productId", "productName", "quantityRequested" ],
                            "properties": {
                                "productId":         { "type": "string", "minLength": 1 },
                                "productName":       { "type": "string", "minLength": 1 },
                                "quantityRequested": { "type": "integer", "minimum": 1 },
                                "warehouseHint":     { "type": "string" }
                            },
                            "additionalProperties": true
                        }
                    }
                }
            }
        },
        "actions": {

            "Check_Stock_For_Each_Order_Line": {
                "type": "Foreach",
                "description": "Per-order-line stock check. Default parallelism is preserved -- no concurrency override needed because results are collected via post-loop Select, not via AppendToArrayVariable. Each branch ends in a single terminal Compose ('Capture_Stock_Result' / 'Capture_Stock_Failure') so the post-loop Select has a stable projection key.",
                "foreach": "@triggerBody()",
                "actions": {

                    "Stock_Check_Scope": {
                        "type": "Scope",
                        "description": "Happy path: call the stock-check service, then capture a stable success projection.",
                        "actions": {

                            "Call_Stock_Check_Service": {
                                "type": "Http",
                                "inputs": {
                                    "method": "POST",
                                    "uri": "@appsetting('stockCheckServiceUrl')",
                                    "headers": {
                                        "Content-Type": "application/json"
                                    },
                                    "body": {
                                        "productId":         "@item()?['productId']",
                                        "productName":       "@item()?['productName']",
                                        "quantityRequested": "@item()?['quantityRequested']",
                                        "warehouseHint":     "@item()?['warehouseHint']"
                                    }
                                },
                                "retryPolicy": {
                                    "type": "exponential",
                                    "count": 3,
                                    "interval": "PT5S",
                                    "maximumInterval": "PT30S",
                                    "minimumInterval": "PT5S"
                                },
                                "runAfter": {}
                            },

                            "Capture_Stock_Result": {
                                "type": "Compose",
                                "description": "Terminal Compose for the success branch. Its inner-action key 'Capture_Stock_Result' is what the post-loop Select projects from. Stable shape -> safe for downstream consumers.",
                                "inputs": {
                                    "productId":         "@item()?['productId']",
                                    "productName":       "@item()?['productName']",
                                    "status":            "Success",
                                    "stockCount":        "@body('Call_Stock_Check_Service')?['stockCount']",
                                    "warehouse":         "@body('Call_Stock_Check_Service')?['warehouse']",
                                    "availableFrom":     "@body('Call_Stock_Check_Service')?['availableFrom']",
                                    "unitPrice":         "@body('Call_Stock_Check_Service')?['unitPrice']"
                                },
                                "runAfter": {
                                    "Call_Stock_Check_Service": [ "SUCCEEDED" ]
                                }
                            }
                        },
                        "runAfter": {}
                    },

                    "Stock_Check_Error_Handler": {
                        "type": "Scope",
                        "description": "Catches any failure inside Stock_Check_Scope (Failed or TimedOut). Captures a stable failure projection so the per-iteration result is still available to the post-loop Select. Do NOT use AppendToArrayVariable here -- the terminal Compose IS the projection.",
                        "actions": {

                            "Capture_Stock_Failure": {
                                "type": "Compose",
                                "description": "Terminal Compose for the failure branch. The post-loop Select uses coalesce(item()?['Capture_Stock_Result']?['outputs'], item()?['Capture_Stock_Failure']?['outputs']) to merge both branches into one results array.",
                                "inputs": {
                                    "productId":         "@item()?['productId']",
                                    "productName":       "@item()?['productName']",
                                    "status":            "Failure",
                                    "errorCode":         "STOCK_CHECK_FAILED",
                                    "errorDescription":  "Stock-check service did not return a successful response for this product."
                                },
                                "runAfter": {}
                            }
                        },
                        "runAfter": {
                            "Stock_Check_Scope": [ "FAILED", "TIMEDOUT" ]
                        }
                    }
                },
                "runAfter": {}
            },

            "Project_Stock_Results": {
                "type": "Select",
                "description": "Post-loop projection. body('Check_Stock_For_Each_Order_Line') is an array of per-iteration objects keyed by inner action name. The successful branch contributes 'Capture_Stock_Result'; the failure branch contributes 'Capture_Stock_Failure'. coalesce() picks whichever ran in that iteration. The result is a single flat 'stockResults' array -- no variables, no AppendToArrayVariable, no concurrency=1.",
                "inputs": {
                    "from":   "@body('Check_Stock_For_Each_Order_Line')",
                    "select": "@coalesce(item()?['Capture_Stock_Result']?['outputs'], item()?['Capture_Stock_Failure']?['outputs'])"
                },
                "runAfter": {
                    "Check_Stock_For_Each_Order_Line": [ "SUCCEEDED" ]
                }
            },

            "Return_Stock_Results": {
                "type": "Response",
                "kind": "Http",
                "description": "200 when every line succeeded; 207 when one or more lines failed. Counts are derived from the projected array via length(filter(...)) -- no failureCount variable.",
                "inputs": {
                    "statusCode": "@if(equals(length(filter(body('Project_Stock_Results'), equals(item()?['status'], 'Failure'))), 0), 200, 207)",
                    "headers": {
                        "Content-Type": "application/json"
                    },
                    "body": {
                        "totalCount":   "@length(body('Project_Stock_Results'))",
                        "failureCount": "@length(filter(body('Project_Stock_Results'), equals(item()?['status'], 'Failure')))",
                        "stockResults": "@body('Project_Stock_Results')"
                    }
                },
                "runAfter": {
                    "Project_Stock_Results": [ "SUCCEEDED" ]
                }
            }
        },
        "outputs": {}
    },
    "kind": "Stateful"
}
